<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap-prestashop-ui-kit.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/prestonbot.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="flash-messages">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="footer">
          <p class="text-md-center"><i>PrestonBot</i>, by <a href="https://www.prestashop.com/">PrestaShop</a></p>
        </footer>
    </body>
</html>
