{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% block title %}Pull request dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center page-header">

                <h1>Pull requests Dashboard</h1>

                {% for reportName, report in reports %}
                    <h2>List of remaining pull requests for {{ reportName }} branch:</h2>

                    {% if report.waitingForCodeReviewsContribs|length > 0 %}
                        {{ macros.generateList('waiting for code review', report.waitingForCodeReviewsContribs) }}
                    {% endif %}
                    
                    {% if report.waitingForQAContribs|length > 0 %}
                        {{ macros.generateList('waiting for QA review', report.waitingForQAContribs) }}
                    {% endif %}
                    
                    {% if report.waitingForPMContribs|length > 0 %}
                        {{ macros.generateList('waiting for PM review', report.waitingForPMContribs) }}
                    {% endif %}
                    
                    {% if report.silentContribs|length > 0 %}
                        {{ macros.generateList('silent pull requests', report.silentContribs) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
