Hi,

this is a list of remaining pull requests:

{% if waitingForCodeReviewsContribs|length > 0 %}
    {{ _self.generateList('waiting for code review', waitingForCodeReviewsContribs) }}
{% endif %}

{% if waitingForQAContribs|length > 0 %}
    {{ _self.generateList('waiting for QA review', waitingForQAContribs) }}
{% endif %}

{% if waitingForPMContribs|length > 0 %}
    {{ _self.generateList('waiting for PM review', waitingForPMContribs) }}
{% endif %}

{% if waitingForMergeContribs|length > 0 %}
    {{ _self.generateList('waiting for merge', waitingForMergeContribs) }}
{% endif %}

{% macro generateList(title, contribs) %}
<b>{{ title }}:</b>

<ul>
    {% for contrib in contribs %}
        <li>
            <a href="{{ contrib.url }}">{{ contrib.title }}</a> - since {{ contrib.updatedAt|date('d/m/Y') }}
        </li>
    {% endfor %}
</ul>
{% endmacro %}